USE [master]
GO
/****** Object:  Database [user3]    Script Date: 28.06.2022 10:36:09 ******/
CREATE DATABASE [user3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user3', FILENAME = N'C:\users\310-04\user3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user3_log', FILENAME = N'C:\users\310-04\user3_log.mdff' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user3]
GO
/****** Object:  Table [dbo].[Charity]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charity](
	[CharityId] [int] IDENTITY(1,1) NOT NULL,
	[CharityName] [nvarchar](50) NOT NULL,
	[CharityDescription] [nvarchar](max) NOT NULL,
	[CharitiLogo] [image] NULL,
 CONSTRAINT [PK_Charity] PRIMARY KEY CLUSTERED 
(
	[CharityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryCode] [nchar](10) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
	[CountryFlag] [image] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](50) NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[MarathonId] [int] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[Cost] [money] NOT NULL,
	[MaxParticipants] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeId] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[EventTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Gender] [nchar](1) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Gender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](50) NOT NULL,
	[PositionDescription] [nvarchar](max) NOT NULL,
	[PayPeriod] [nvarchar](10) NOT NULL,
	[PayRate] [money] NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceKitOption]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceKitOption](
	[RaceKitOptionId] [int] IDENTITY(1,1) NOT NULL,
	[RaceKitOption] [nvarchar](50) NOT NULL,
	[Cost] [money] NOT NULL,
 CONSTRAINT [PK_RaceKitOption] PRIMARY KEY CLUSTERED 
(
	[RaceKitOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[RunnerId] [int] NOT NULL,
	[RegistrationDateTime] [datetime] NOT NULL,
	[RaceKitOptionId] [int] NOT NULL,
	[RegistrationStatusId] [int] NOT NULL,
	[Cost] [money] NOT NULL,
	[CharityId] [int] NOT NULL,
	[SponsorshipTarget] [nvarchar](50) NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationEvent]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationEvent](
	[RegistrationEventId] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[BibNumber] [int] NOT NULL,
	[RaceTime] [datetime] NOT NULL,
 CONSTRAINT [PK_RegistrationEvent] PRIMARY KEY CLUSTERED 
(
	[RegistrationEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationStatus]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationStatus](
	[RegistrationStatusId] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationStatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RegistrationStatus] PRIMARY KEY CLUSTERED 
(
	[RegistrationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[VolunteerId] [int] NULL,
	[MarathonId] [int] NULL,
	[ReviewMark] [int] NOT NULL,
	[ReviewDescription] [nvarchar](max) NOT NULL,
	[ReviewDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Runner]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Runner](
	[RunnerId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
	[Img] [image] NULL,
 CONSTRAINT [PK_Runner] PRIMARY KEY CLUSTERED 
(
	[RunnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RunnerMarathon]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunnerMarathon](
	[RunnerId] [int] NOT NULL,
	[MarathonId] [int] NOT NULL,
	[Position] [int] NULL,
	[Time] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsor]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsor](
	[SponsorId] [int] IDENTITY(1,1) NOT NULL,
	[CharityId] [int] NOT NULL,
	[RunnerId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CardName] [nvarchar](50) NOT NULL,
	[CardMonth] [int] NOT NULL,
	[CardYear] [int] NOT NULL,
	[CVCCode] [int] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_Sponsor] PRIMARY KEY CLUSTERED 
(
	[SponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsorship]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsorship](
	[SponsorshipId] [int] IDENTITY(1,1) NOT NULL,
	[SponsorshipName] [nvarchar](50) NOT NULL,
	[RegistrationId] [int] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_Sponsorship] PRIMARY KEY CLUSTERED 
(
	[SponsorshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[PositionId] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Comments] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheet]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheet](
	[TimesheetId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[PayAmount] [money] NOT NULL,
 CONSTRAINT [PK_Timesheet] PRIMARY KEY CLUSTERED 
(
	[TimesheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user3]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user3](
	[MarathonId] [int] IDENTITY(1,1) NOT NULL,
	[MarathonName] [nvarchar](50) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
	[YearHeld] [int] NOT NULL,
 CONSTRAINT [PK_Marathon] PRIMARY KEY CLUSTERED 
(
	[MarathonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volunteer]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteer](
	[VolunteerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Volunteer] PRIMARY KEY CLUSTERED 
(
	[VolunteerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Charity] ON 

INSERT [dbo].[Charity] ([CharityId], [CharityName], [CharityDescription], [CharitiLogo]) VALUES (2, N'Дрозды', N'Благотворительная компания поддерживающая дроздов', NULL)
INSERT [dbo].[Charity] ([CharityId], [CharityName], [CharityDescription], [CharitiLogo]) VALUES (3, N'Киты', N'Благотворительная компания поддерживающая китов', NULL)
SET IDENTITY_INSERT [dbo].[Charity] OFF
GO
INSERT [dbo].[Country] ([CountryCode], [CountryName], [CountryFlag]) VALUES (N'KZ        ', N'Казахстан', NULL)
INSERT [dbo].[Country] ([CountryCode], [CountryName], [CountryFlag]) VALUES (N'RU        ', N'Россия', NULL)
GO
INSERT [dbo].[Gender] ([Gender]) VALUES (N'M')
INSERT [dbo].[Gender] ([Gender]) VALUES (N'W')
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([PositionId], [PositionName], [PositionDescription], [PayPeriod], [PayRate]) VALUES (1, N'Helpdesk Advisor', N'Works on the helpdesk', N'Hourly', 68.0000)
INSERT [dbo].[Position] ([PositionId], [PositionName], [PositionDescription], [PayPeriod], [PayRate]) VALUES (2, N'Administrative Clerk', N'Provides administrative support', N'Hourly', 55.0000)
INSERT [dbo].[Position] ([PositionId], [PositionName], [PositionDescription], [PayPeriod], [PayRate]) VALUES (3, N'HR Clerk', N'Provides support to the HR Manager', N'Hourly', 35.0000)
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [VolunteerId], [MarathonId], [ReviewMark], [ReviewDescription], [ReviewDateTime]) VALUES (0, 2, 5, 5, N'Комментарий', CAST(N'2000-01-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Review] ([ReviewId], [VolunteerId], [MarathonId], [ReviewMark], [ReviewDescription], [ReviewDateTime]) VALUES (1, 2, 5, 3, N'napsas', CAST(N'2010-12-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Review] ([ReviewId], [VolunteerId], [MarathonId], [ReviewMark], [ReviewDescription], [ReviewDateTime]) VALUES (3, 2, 6, 3, N'asd', CAST(N'2021-01-21T16:25:47.593' AS DateTime))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Бегун')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Координатор')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Зритель')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Runner] ON 

INSERT [dbo].[Runner] ([RunnerId], [Email], [Gender], [DateOfBirth], [CountryCode], [Img]) VALUES (1, N'sawin.world@gmail.com', N'W', CAST(N'1954-06-09' AS Date), N'RU        ', NULL)
INSERT [dbo].[Runner] ([RunnerId], [Email], [Gender], [DateOfBirth], [CountryCode], [Img]) VALUES (3, N'e', N'M', CAST(N'2020-12-31' AS Date), N'RU        ', NULL)
INSERT [dbo].[Runner] ([RunnerId], [Email], [Gender], [DateOfBirth], [CountryCode], [Img]) VALUES (4, N'asd', N'M', CAST(N'2021-01-05' AS Date), N'KZ        ', NULL)
SET IDENTITY_INSERT [dbo].[Runner] OFF
GO
INSERT [dbo].[RunnerMarathon] ([RunnerId], [MarathonId], [Position], [Time]) VALUES (1, 3, 1, CAST(N'02:03:06' AS Time))
INSERT [dbo].[RunnerMarathon] ([RunnerId], [MarathonId], [Position], [Time]) VALUES (1, 5, 2, CAST(N'02:03:06' AS Time))
INSERT [dbo].[RunnerMarathon] ([RunnerId], [MarathonId], [Position], [Time]) VALUES (3, 3, 2, CAST(N'02:20:06' AS Time))
GO
SET IDENTITY_INSERT [dbo].[Sponsor] ON 

INSERT [dbo].[Sponsor] ([SponsorId], [CharityId], [RunnerId], [Name], [CardName], [CardMonth], [CardYear], [CVCCode], [Amount]) VALUES (0, 3, 4, N'Михаил', N'Sawin Michael', 12, 2344, 123, 54.0000)
INSERT [dbo].[Sponsor] ([SponsorId], [CharityId], [RunnerId], [Name], [CardName], [CardMonth], [CardYear], [CVCCode], [Amount]) VALUES (1, 2, 4, N'Имя', N'Имя Карты', 12, 3212, 443, 345.0000)
INSERT [dbo].[Sponsor] ([SponsorId], [CharityId], [RunnerId], [Name], [CardName], [CardMonth], [CardYear], [CVCCode], [Amount]) VALUES (2, 3, 3, N'Имя ', N'Имя Карты', 12, 3213, 123, 1200.0000)
SET IDENTITY_INSERT [dbo].[Sponsor] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffId], [FirstName], [LastName], [DateOfBirth], [Gender], [PositionId], [Email], [Comments]) VALUES (13, N'LAKISHA', N'TOMBLIN', CAST(N'1961-08-06' AS Date), N'F', 2, N'a', N'')
INSERT [dbo].[Staff] ([StaffId], [FirstName], [LastName], [DateOfBirth], [Gender], [PositionId], [Email], [Comments]) VALUES (19, N'KRIS', N'SWEELY', CAST(N'1980-12-24' AS Date), N'M', 3, N'admin@ya.ru', N'')
INSERT [dbo].[Staff] ([StaffId], [FirstName], [LastName], [DateOfBirth], [Gender], [PositionId], [Email], [Comments]) VALUES (20, N'ELSIE', N'ESTELL', CAST(N'1974-07-07' AS Date), N'F', 8, N'asd', N'')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Timesheet] ON 

INSERT [dbo].[Timesheet] ([TimesheetId], [StaffId], [StartDateTime], [EndDateTime], [PayAmount]) VALUES (2, 13, CAST(N'2011-08-12T00:00:00.000' AS DateTime), CAST(N'2011-08-02T02:00:00.000' AS DateTime), 272.0000)
INSERT [dbo].[Timesheet] ([TimesheetId], [StaffId], [StartDateTime], [EndDateTime], [PayAmount]) VALUES (3, 19, CAST(N'2011-08-12T02:00:00.000' AS DateTime), CAST(N'2011-08-12T04:00:00.000' AS DateTime), 520.0000)
INSERT [dbo].[Timesheet] ([TimesheetId], [StaffId], [StartDateTime], [EndDateTime], [PayAmount]) VALUES (5, 20, CAST(N'2011-08-12T04:00:00.000' AS DateTime), CAST(N'2011-08-12T06:00:00.000' AS DateTime), 392.0000)
SET IDENTITY_INSERT [dbo].[Timesheet] OFF
GO
INSERT [dbo].[User] ([Email], [Password], [FirstName], [LastName], [RoleId]) VALUES (N'a', N'a', N'a', N'a', 3)
INSERT [dbo].[User] ([Email], [Password], [FirstName], [LastName], [RoleId]) VALUES (N'admin@ya.ru', N'SdfgSdfg098', N'Иннокентий', N'Савушкин', 4)
INSERT [dbo].[User] ([Email], [Password], [FirstName], [LastName], [RoleId]) VALUES (N'asd', N'as', N'asdsa', N'asasd', 1)
GO
SET IDENTITY_INSERT [dbo].[user3] ON 

INSERT [dbo].[user3] ([MarathonId], [MarathonName], [CityName], [CountryCode], [YearHeld]) VALUES (3, N'Кросс нации', N'Новособирск', N'RU        ', 2019)
INSERT [dbo].[user3] ([MarathonId], [MarathonName], [CityName], [CountryCode], [YearHeld]) VALUES (5, N'Самый быстрый сибирянин', N'Красноярск', N'RU        ', 2021)
INSERT [dbo].[user3] ([MarathonId], [MarathonName], [CityName], [CountryCode], [YearHeld]) VALUES (6, N'Казахстанский орел', N'Нур султан', N'KZ        ', 2020)
SET IDENTITY_INSERT [dbo].[user3] OFF
GO
SET IDENTITY_INSERT [dbo].[Volunteer] ON 

INSERT [dbo].[Volunteer] ([VolunteerId], [FirstName], [LastName], [CountryCode], [Gender], [Email]) VALUES (1, N's', N's', N'KZ        ', N'M', N's')
INSERT [dbo].[Volunteer] ([VolunteerId], [FirstName], [LastName], [CountryCode], [Gender], [Email]) VALUES (2, N'a', N'a', N'KZ        ', N'M', N'a')
INSERT [dbo].[Volunteer] ([VolunteerId], [FirstName], [LastName], [CountryCode], [Gender], [Email]) VALUES (3, N'sa', N'sa', N'RU        ', N'M', N'sa')
SET IDENTITY_INSERT [dbo].[Volunteer] OFF
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([EventTypeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventType]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Marathon] FOREIGN KEY([MarathonId])
REFERENCES [dbo].[user3] ([MarathonId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Marathon]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Charity] FOREIGN KEY([CharityId])
REFERENCES [dbo].[Charity] ([CharityId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Charity]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_RaceKitOption] FOREIGN KEY([RaceKitOptionId])
REFERENCES [dbo].[RaceKitOption] ([RaceKitOptionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_RaceKitOption]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_RegistrationStatus] FOREIGN KEY([RegistrationStatusId])
REFERENCES [dbo].[RegistrationStatus] ([RegistrationStatusId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_RegistrationStatus]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Runner] FOREIGN KEY([RunnerId])
REFERENCES [dbo].[Runner] ([RunnerId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Runner]
GO
ALTER TABLE [dbo].[RegistrationEvent]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationEvent_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RegistrationEvent] CHECK CONSTRAINT [FK_RegistrationEvent_Event]
GO
ALTER TABLE [dbo].[RegistrationEvent]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationEvent_Registration] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[Registration] ([RegistrationId])
GO
ALTER TABLE [dbo].[RegistrationEvent] CHECK CONSTRAINT [FK_RegistrationEvent_Registration]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_user3] FOREIGN KEY([MarathonId])
REFERENCES [dbo].[user3] ([MarathonId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_user3]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Volunteer] FOREIGN KEY([VolunteerId])
REFERENCES [dbo].[Volunteer] ([VolunteerId])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Volunteer]
GO
ALTER TABLE [dbo].[Runner]  WITH CHECK ADD  CONSTRAINT [FK_Runner_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Runner] CHECK CONSTRAINT [FK_Runner_Country]
GO
ALTER TABLE [dbo].[Runner]  WITH CHECK ADD  CONSTRAINT [FK_Runner_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([Gender])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Runner] CHECK CONSTRAINT [FK_Runner_Gender]
GO
ALTER TABLE [dbo].[Runner]  WITH CHECK ADD  CONSTRAINT [FK_Runner_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Runner] CHECK CONSTRAINT [FK_Runner_User]
GO
ALTER TABLE [dbo].[RunnerMarathon]  WITH CHECK ADD  CONSTRAINT [FK_RunnerMarathon_Runner] FOREIGN KEY([RunnerId])
REFERENCES [dbo].[Runner] ([RunnerId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RunnerMarathon] CHECK CONSTRAINT [FK_RunnerMarathon_Runner]
GO
ALTER TABLE [dbo].[RunnerMarathon]  WITH CHECK ADD  CONSTRAINT [FK_RunnerMarathon_user3] FOREIGN KEY([MarathonId])
REFERENCES [dbo].[user3] ([MarathonId])
GO
ALTER TABLE [dbo].[RunnerMarathon] CHECK CONSTRAINT [FK_RunnerMarathon_user3]
GO
ALTER TABLE [dbo].[Sponsor]  WITH CHECK ADD  CONSTRAINT [FK_Sponsor_Charity] FOREIGN KEY([CharityId])
REFERENCES [dbo].[Charity] ([CharityId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sponsor] CHECK CONSTRAINT [FK_Sponsor_Charity]
GO
ALTER TABLE [dbo].[Sponsor]  WITH CHECK ADD  CONSTRAINT [FK_Sponsor_Runner] FOREIGN KEY([RunnerId])
REFERENCES [dbo].[Runner] ([RunnerId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sponsor] CHECK CONSTRAINT [FK_Sponsor_Runner]
GO
ALTER TABLE [dbo].[Sponsorship]  WITH CHECK ADD  CONSTRAINT [FK_Sponsorship_Registration] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[Registration] ([RegistrationId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sponsorship] CHECK CONSTRAINT [FK_Sponsorship_Registration]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Position]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_User]
GO
ALTER TABLE [dbo].[Timesheet]  WITH CHECK ADD  CONSTRAINT [FK_Timesheet_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Timesheet] CHECK CONSTRAINT [FK_Timesheet_Staff]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[user3]  WITH CHECK ADD  CONSTRAINT [FK_Marathon_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user3] CHECK CONSTRAINT [FK_Marathon_Country]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_Country]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([Gender])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_Gender]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_User]
GO
/****** Object:  StoredProcedure [dbo].[proc1]    Script Date: 28.06.2022 10:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc1]
@y int
as
select * 
from hotelComments inner join hotels
on hotelComments.id_hotel=hotels.id_hotel
where 
year(creation_date)=@y;
GO
USE [master]
GO
